<li id="comment-<%= comment._id %>">
    <p>
        <%if((locals.user && locals.user.id == comment.user.id)||locals.user && locals.user.id == post.user.id){%>
        <small>
            <a href="/comment/delete/<%=comment.id%>" class="delete-comment-button">X</a>
        </small>
        <%}%>
        <%=comment.content%>
        <br>
        <small>
            <%=comment.user.name%>
        </small>
        
        <form action="/likes/toggle/?id=<%=comment.id%>&type=Comment" method="post">
            <% if(locals.user){%>
                  <button class="btn btn-success ">Like <%= comment.likes.length %></button>
                 <%}else{%>
                     <button type="button" class="btn btn-dark ">Like <%= comment.likes.length %></button>
                     <%}
                 %>
           </form>
    </p> 
</li>